@{
    ViewData["Title"] = "About";
}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h1>Innovative Way To Learn</h1>
                    </div>
                    <p class="text-justify">The e-learning platform is designed to reach all members interested in their continuing education. The topics of interest have been established and developed in order to realize the possibility
                        of producing online courses.The main advantages offered by online learning are the flexibility for each student to work when and where they want, and the possibility of connecting with a wide-reaching network of colleagues, peers and experts in the field.
                        When selecting the resources and format for each course, not only has an expert committee considered and developed the topic in question, but a pedagogical strategy has been implemented.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

