@{
    ViewData["Title"] = "Home Page";
}

@model IndexCourseViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <h4 class="text-center">Available courses</h4>
    </div>
</div>
<table class="table">
    <thead class="bg-success">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
            foreach (var item in Model.PublicCourses)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td> @item.Title </td>
                    <td> @item.Description </td>
                </tr>
                counter += 1;
            }
        }
    </tbody>
</table>
<br />