@{
    this.ViewData["Title"] = "Create new course";
    this.ViewData["Action"] = "Create";
    this.ViewData["SubmitButton"] = "Create";
    this.ViewData["CourseFormVisibility"] = "block";
}

@model CourseViewModel

<h2>@this.ViewData["Title"]</h2>

<form asp-controller="Courses" asp-action="@this.ViewData["Action"]" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <br />
        <input asp-for="Title" type="text" class="form-control" />
        <span asp-validation-for="Title" class="form-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <br />
        <textarea asp-for="Description" class="form-control" rows="5" id="comment"></textarea>
        <span asp-validation-for="Description" class="form-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <br />
        <select asp-for="CategoryId" class="custom-select">
            <option value="1">Public</option>
            <option value="2">Private</option>
        </select>
        <span asp-validation-for="CategoryId" class="form-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhotoURL"></label>
        <br />
        <input asp-for="PhotoURL" type="text" class="form-control" />
        <span asp-validation-for="PhotoURL" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="@this.ViewData["SubmitButton"]" class="btn-primary" />
    </div>
</form>

<a href="/courses" class="nav">Go Back</a>