@{
    this.ViewData["Title"] = "Edit";
    this.ViewData["Action"] = "Edit";
	this.ViewData["SubmitButton"] = "Save";
	this.ViewData["FormVisibility"] = "none";
}

@model CourseDTO


<h2>Edit Course: @this.Model.Title</h2>

 <partial name="_CourseForm" />

<a href="/courses/index" class="nav">Go Back</a>